# Environment variables
.env
.env.*
*.env

# Secrets & credentials

# OS junk
.DS_Store

# Logs
*.log

# Node
node_modules

tokens.json
storage/tokens.json

scripts/out/
scripts/out/**

.env
scripts/out/
scripts/out/**
